body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	background: #0151fd;
	background: -moz-linear-gradient(left, #78c3fb 0%, #0151fd 100%);
	background: -webkit-gradient(linear, left center, right center, from(#78c3fb), to(#0151fd));
	background: -webkit-linear-gradient(left, #78c3fb 0%, #0151fd 100%);
	background: -o-linear-gradient(left, #78c3fb 0%, #0151fd 100%);
	background: linear-gradient(to right, #78c3fb 0%, #0151fd 100%);
	margin: 24px;
}

@media screen and (max-width: 720px) {
	body {
  		margin: 8px;
		font-size: 16px;
	}
}

header {
  text-align: center;
  padding: 16px;
}
header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 32px;
}

.container {
	padding: 32px;
	width: 60%;
	height: 100%;
	color: #5b5b5b;
	background: #FFF;
    margin: 0 auto;
}

@media screen and (max-width: 720px) {
	.container {
		padding: 8px;
		width: 90%;
	}
}

form {
	color: #787878;
	background: #FFF;
}

ul {
	padding: 0, 40px;
}

@media screen and (max-width: 720px) {
	ul {
		padding: 0 4px;
	}
}

ul li {
    list-style: none;
	margin: 30px 0;
}

input[type=number] {
	padding: 8px 20px;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 20px;
	color: #787878;
}

@media screen and (max-width: 720px) {
	input[type=number] {
		padding: 4px 10px;
		font-size: 16px;
	}
}

input[type=radio] {
    display: none;
}
.radio_styled {
    display: inline-block;
    padding: 10px 40px;
    position: relative;
}

.radio_styled::before {
    background: #fff;
    border: 1px solid #5b5b5b;
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    left: 5px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    width: 20px;
}
.radio_styled::after {
    background: #62b7f8;
    border-radius: 50%;
    content: '';
    display: block;
    height: 14px;
    left: 9px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 14px;
}
input[type=radio]:checked + .radio_styled::after {
    opacity: 1;
}


.input_label{
	width: 240px;
	float: left;
}

.button {
	background-color: #0092FF; 
	border: none;
	color: white;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	margin: 4px 2px;
	border-radius: 40px;
	display: block;
    margin: 50px auto;
	box-shadow: 2px 3px 0px 0px rgb(139, 193, 255);
  }
.button:hover {
  background-color: rgb(100, 172, 253);
}

@media screen and (max-width: 720px) {
	.button {
		padding: 4px 30px;
    	margin: 30px auto;
		font-size: 20px;
	}
}

table {
	font-size: 20px;
}


th{
  text-align: center;
  background-color: #62b7f8;
	font-weight: normal;
  color: #ffffff;
  padding: 12px 12px;
}

td {
  text-align: right;
  padding: 10px 10px;
}
tr{
	background-color: #D8EEFE;
}
.odd{
	background-color: #EFF8FF;
}

@media screen and (max-width: 720px) {
	table {
		font-size: 12px;
	}
	th {
		padding: 3px 3px;
	  }
	td {
		padding: 3px 3px;
	  }
}

.hint{
	height: 20px;
	width: 20px;
	margin-top: -40px;
	margin-left: -20px;
	position: absolute;
}


.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #5b5b5b;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	width: 200px;
	left: 0%;
	margin-top: -20px;
	margin-left: -60px;
	z-index: 1;
}

.tooltip .tooltiptext a{
	color: #ffffff;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

@media screen and (max-width: 720px) {
	.hint {
		height: 16px;
		width: 16px;
		margin-top: -30px;
		margin-left: -20px;
	}

	.tooltip .tooltiptext {
		margin-top: -10px;
	}
}

.errors {
	color: #ff8c8c;
	font-size: 20px;
}

@media screen and (max-width: 720px) {
	.errors  {
		font-size: 16px;
	}
}

.total{
	font-weight: bold;
}